version: '3.9'

x-default-opts:
  &default-opts
  logging:
    options:
      max-size: "10m"

networks:
  traefik-network:
    external: true

services:
  # Frontend - Nginx com Traefik
  frontend:
    <<: *default-opts
    image: archbase-java-docs:latest
    networks:
      - traefik-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
        order: start-first
      labels:
        # Traefik configuration
        - "traefik.enable=true"
        - "traefik.http.routers.archbase-java-docs.rule=Host(`java.archbase.dev`)"
        - "traefik.http.routers.archbase-java-docs.entrypoints=websecure"
        - "traefik.http.routers.archbase-java-docs.tls=true"
        - "traefik.http.routers.archbase-java-docs.tls.certresolver=letsencrypt"
        - "traefik.http.services.archbase-java-docs.loadbalancer.server.port=80"
        # HTTP to HTTPS redirect
        - "traefik.http.routers.archbase-java-docs-http.rule=Host(`java.archbase.dev`)"
        - "traefik.http.routers.archbase-java-docs-http.entrypoints=web"
        - "traefik.http.routers.archbase-java-docs-http.middlewares=redirect-to-https"
        - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
